<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rb.vorujak">

    <permission
        android:name="com.example.app.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <!-- Permission to receive Google Maps -->
    <uses-permission android:name="com.example.app.permission.MAPS_RECEIVE" />

    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ping"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ping"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                />
            </intent-filter>
        </service>
        <service android:name=".FireBaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAaqX2yQ_ZZt9WwDhCyC-mvR6N0T9RlD0U" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapsActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GameOver"
            android:label="@string/title_activity_game_over"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Shop"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Help"
            android:label="@string/title_activity_help"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Win"
            android:label="@string/title_activity_win"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TakeAward"
            android:label="@string/title_activity_take_award"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".About"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register" />
        <activity android:name=".Activation" />
        <activity android:name=".Waiting" />
        <activity android:name=".QrQode" />
        <activity android:name=".QrResult" />
        <activity android:name=".TopPlayers" />
    </application>

</manifest>